@{
    ViewBag.Title = "IIM - Rules";
}
<h2>@ViewBag.Title</h2>


<h3>Privacy</h3>
<ul>
    <li>Only registered users can join a team or view detailed participant data.</li>
    <li>Privacy - upon registering, you become team captain</li>
    <li>Privacy - only team captains can make data private</li>
    <li>Privacy - only team captains can upload team photos</li>
    <li>Run 26.22 miles, swim, 2.4 miles, and bike 112 miles in 30 days!</li>
</ul>

<h3>Using this website</h3>
<ul>
    <li>Et harum quidem rerum facilis est et expedita distinctio.</li>
    <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</li>
    <li>Et harum quidem rerum facilis est et expedita distinctio.</li>
    <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</li>
</ul>
